<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Выписка из исследования, НИИ онкологии им. Н.Н. Петрова</title>
<style type="text/css">
<!--
#datetime {
	
}
#head {
	font-size: medium;
}
#txt {
	font-size:12px;
}


-->
    </style>
</head>
<body id="datetime">
	
<table width="743" border="0" id="datetime">
  <tr>
    <td colspan="3"><p align="center" id="head"><strong>Заключение комиссии по госпитализации для оказания высокотехнологичной  медицинской помощи.</strong></p>
      <p align="center">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td colspan="3"><p><span id="txt">Комиссия по госпитализации для оказания  высокотехнологичной медицинской помощи,  созданная во исполнение приказа Министерства здравоохранения и социального  развития № 320 от 07.05.2007 года  и  приказа Федерального агентства по здравоохранению и социальному развитию № 99  от 20.04.2006 г. «Об оказании высокотехнологичной медицинской помощи за счет  средств федерального бюджета в федеральных специализированных медицинских  учреждениях, подведомственных Росздраву», рассмотрела медицинские документы: </span></p></td>
  </tr>
  <tr>
    <td colspan="3"><span id="txt"><br>
      </span>
      <p><span id="txt">PATIENT  BIRTH<br>
        <em>Паспорт  серия SERIAL номер NUMB выдан GIVEN</em><br>
        Место проживания: LIVING<br>
    Диагноз:  DIAG. CODE .</span></p></td>
  </tr>