

  <tr>
    <td width="224"  align="left">
      <p><span id="txt"><strong>Члены комиссии:<br><br>
    </strong>Председатель  комиссии <br><br>Руководитель  отделения  <br><br>  Главный онколог   </span></p></td>
    <td width="182" align="right"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="323" align="right"><p><span id="txt">&nbsp;<br><br>
    </span></p>
      <p><span id="txt">д.м.н. Гафтон Г.И.<br><br> проф. Моисеенко В.М.<br><br> проф.  Барчук А.С.</span></p></td>
  </tr>
    <tr>
    <td  align="left"><br><br><p>Дата  : DATE</p></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
</html>