<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Выписка из исследования, НИИ онкологии им. Н.Н. Петрова</title>
	</head>
	<body id="datetime">
	
	    <p align="center" lang="ru">
            ФГУ «НИИ онкологии им. Н.Н. Петрова» Минздравсоцразвития России<br>

Санкт-Петербург, пос. Песочный,  ул. Ленинградская, д.68, тел. 5968928  </p>
<br><p align="center" lang="ru">Отделение otdel</p>
<p align="center" lang="ru">Врач cyto.doc</p>
<p align="center" lang="ru">issl patient</p>

        <p></p>
       
        <p id="ct"> cyto.text &nbsp;</p>
  
        
        <p align="right">&nbsp;Подпись: cyto.doc&nbsp;</p>
		<p id="cd" align="right">Дата: cyto.date</p>
	
	</body>
</html>