<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Выписка патоморфологического исследования. НИИ онкологии им. Н.Н.Петрова</title>
	</head>
	<body id="datetime" lang="ru">
	
	    <p align="center"><strong><em>НИИ онкологии им. Н.Н.Петрова</em></strong></p>
        <p align="center"><em>Патоморфологическая лаборатория</em></p>
        <p align="center"><em>Исследование</em> <em>№ </em>mat - nomer</p>
        <p align="left">&nbsp;</p>
        <p align="left">Пациент : patient</p>
<p align="left">Клинический диагноз : diagnos</p>
<p align="left">Патологоанатомическое заключение : </p>
<p>zakl</p>
<p align="left">Макроскопическое описанние : macro</p>
<p align="left">Номера кассет : kasset</p>

    <p>Дата доставки : coming</p>
    <p>Номер препарата в лаборатории : secNom</p>
    <p>Направившее отделение : otdel</p>
    <p>Предыдущее исследование : previous</p>
<p id="cd" align="right">Дата ответа : cyto.date</p>
        <p align="right">&nbsp;Врач патолог : cyto.doc&nbsp;</p>
	
	</body>
</html>