<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Выписка из исследования, НИИ онкологии им. Н.Н. Петрова</title>
<style type="text/css">
<!--
#datetime {
	
}
#head {
	font-size: medium;
}
#txt {
	font-size:12px;
}


-->
    </style>
</head>
<body id="datetime">
	
<table width="743" border="0" id="datetime">
  <tr>
    <td colspan="3"><p align="center" id="head"><strong>Заключение комиссии по госпитализации для оказания высокотехнологичной  медицинской помощи.</strong></p>
      <p align="center">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td colspan="3"><p><span id="txt">Комиссия по госпитализации для оказания  высокотехнологичной медицинской помощи,  созданная во исполнение приказа Министерства здравоохранения и социального  развития № 320 от 07.05.2007 года  и  приказа Федерального агентства по здравоохранению и социальному развитию № 99  от 20.04.2006 г. «Об оказании высокотехнологичной медицинской помощи за счет  средств федерального бюджета в федеральных специализированных медицинских  учреждениях, подведомственных Росздраву», рассмотрела медицинские документы: </span></p></td>
  </tr>
  <tr>
    <td colspan="3"><span id="txt"><br>
      </span>
      <p><span id="txt">PATIENT  BIRTH<br>
        <em>Паспорт  серия SERIAL номер NUMB выдан GIVEN</em><br>
        Место проживания: LIVING<br>
    Диагноз:  DIAG. CODE .</span></p></td>
  </tr>
  <tr>
    <td colspan="3" align="justify" >
      <p><span id="txt">и приняла решение  рекомендовать госпитализацию в клинику ФГУ НИИ онкологии  им. Н.Н. Петрова для оказания высокотехнологичной медицинской помощи в счет  квот в соответствии с кодами видов высокотехнологичной медицинской помощи  согласно перечню, утвержденному Приложением № 1 к приказу Министерства здравоохранения и  социального развития Российской Федерации № 786н от 29 декабря 2008 г.: </span></p>
       <li><span id="txt">9. Онкология:</span></li>      
      <li><span id="txt">9.1 – Хирургическое, комбинированное, комплексное лечение  больных злокачественными новообразованиями с применением различных физических  факторов (лучевая терапия, лазерная деструкция, криодеструкция, гипертермия,  радиочастотная аблация и др.) и фотодинамической терапии.</span></li>
       <li><span id="txt">9.2. Эндопротезирование, реэндопротезирование сустава, реконструкция кости при опухолевых заболеваниях, поражающих опорно-двигательный аппарат.</span></li>
<li><span id="txt">9.3 – Комбинированное и комплексное  лечение больных злокачественными новообразованиями с включением хирургического  лечения, высокотоксичного лекарственного лечения, требующего интенсивной  поддерживающей и корригирующей терапии.</span></li>
<li><span id="txt"> 9.4. Радиойодтерапия при раке щитовидной железы.</span></li>
<li><span id="txt">9.5. Прецизионная конформная, дистанционная, внутритканевая, внутриполостная, радионуклидная и высокоинтенсивная ультразвуковая лучевая терапия при злокачественных образованиях.</span></li>

      <li><span id="txt">      9.6. - Высокодозная химиотерапия при  гемобластозах, в том числе с применением трансплантации костного мозга.</span></li>
      <li><span id="txt">9.7. Радионуклидная терапия отдаленных метастазов в кости.</span></li>
      <li><span id="txt">9.8. Расширенные и комбинированные реконструктивные операции, реконструктивно-пластические, микрохирургические и видеоэндоскопические операции при злокачественных новообразованиях.</span></li>
      <li><span id="txt">9.9. Комплексное лечение, включая полихимиотерапию и иммунодепрессивные средства, методы экстракорпорального воздействия на кровь, дистанционную лучевую терапию, хирургические методы лечения при острых и хронических лейкозах.</span></li>
      <li><span id="txt">17. Трансплантация органов и тканей.</span></li>
      <li><span id="txt"> 17.5 - Трансплантация костного мозга.</span></li>
      <span id="txt">
      </p>
      
      </span>
      <p><span id="txt">Предполагается  использовать  1 квоту. </span></p>
      <span id="txt"><br>
    </span></td>
  </tr>

  <tr>
    <td width="224"  align="left">
      <p><span id="txt"><strong>Члены комиссии:<br><br>
    </strong>Председатель  комиссии <br><br>Руководитель  отделения  <br><br>  Главный онколог   </span></p></td>
    <td width="182" align="right"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="323" align="right"><p><span id="txt">&nbsp;<br><br>
    </span></p>
      <p><span id="txt">д.м.н. Гафтон Г.И.<br><br> проф. Моисеенко В.М.<br><br> проф.  Барчук А.С.</span></p></td>
  </tr>
    <tr>
    <td  align="left"><br><br><p>Дата  : DATE</p></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
</body>
</html>