<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Выписка из исследования, НИИ онкологии им. Н.Н. Петрова</title>
	</head>
	<body id="datetime">
	
	    <p align="center" lang="ru">
            НИИ Онкологии им. Н.Н.Петрова</p>
        <p align="center" lang="ru">
            Выписка из исследования: issl </p>
        <p align="left" lang="ru">
            Пациент: patient</p>
        <p></p>
        <p>Заключение № cyto.numb :</p>
        <p id="ct"> cyto.text &nbsp;</p>
  
        <p id="cd" align="right">Дата: cyto.date</p>
        <p align="right">&nbsp;Подпись: cyto.doc&nbsp;</p>
	
	</body>
</html>