<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

<style type="text/css" media="print">
div.page      {
writing-mode: tb-rl;
height: 80%;
margin: 10% 0%;
}
</style>
<style type="text/css">
<!--
body {
	
	text-align: center;
	font-size: 16px;
}
#с1 {
	font-size: 10px;
}
-->
span.bullet {font-size: 22px; font-family: sans-serif;} 
.gener {
	font-size: 12px;
}
m3 {
	border-left:  1px dotted black;
}
#с2 {
	font-weight: bold;
}
#с2 p {
	font-weight: normal;
}
.с3 {
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
}
#p12 {
	font-weight: bold;
	font-size: 14px;
}
#t2
{
	border-bottom:solid
	#000
}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

<body>

<table width="1250" border="0">
  <tr>
    <td width="11">&nbsp;</td>
    <td colspan="4" align="left"><p class="gener">Министерство здравоохранения <br>и социального развития Российской Федерации</p></td>
    <td width="11" rowspan="3" class="gener">&nbsp;</td>
    <td width="131" rowspan="4" align="left" class="gener">Форма № 057/у-04 утверждена приказом Минздравсоцразвития России от 22 ноября &nbsp; 2004 г. № 255</td>
    <td width="15">&nbsp;</td>
    <td width="51">&nbsp;</td>
    <td width="649" style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" class="gener">&nbsp;</td>
    <td height="26" colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black">НИИ Онкологии им.проф.Н.Н.Петрова</td>
    <td >&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top" id="с1">&nbsp;</td>
    <td colspan="4" align="center" valign="top" id="с1">(наименование медицинского учреждения)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" class="gener">&nbsp;</td>
    <td height="26" colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black">СПб, ул.Ленинградская, д.68</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="28" colspan="4" align="left"><span class="gener">Код ОГРН</span>      <span class="bullet">&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;</span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="63">&nbsp;</td>
    <td colspan="6" align="center"><p><strong>НАПРАВЛЕНИЕ</strong><br>
      NAPRAVLENIE<br>
      <span class="gener">(нужное подчеркнуть)</span></p></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="33">&nbsp;</td>
    <td colspan="3" align="left" valign="bottom" class="gener">Решением комиссии по ВТМП в отд.</td>
    <td colspan="3" valign="bottom" bgcolor="#8695FB" class="с3" style="border-bottom: 1px solid black">OTDEL</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" align="left" valign="bottom" class="gener">Номер страхового полиса ОМС:</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="8" align="center">
<span class="bullet">&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;</span> 
<span class="bullet">&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;&#9744;</span>
</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="82">&nbsp;</td>
    <td width="88">&nbsp;</td>
    <td width="63">&nbsp;</td>
    <td colspan="2" align="right" valign="bottom" class="gener">Код льготы</td>
    <td><span class="bullet">&#9744;&#9744;&#9744;</span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td align="left" valign="bottom" class="gener">1. ФИО</td>
    <td colspan="5" align="center" valign="bottom" bgcolor="#8695FB" class="body" style="border-bottom: 1px solid black"><p class="с3">PATIENT</p></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td colspan="2" align="left" valign="bottom" class="gener">2. Дата рождения</td>
    <td colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="body" style="border-bottom: 1px solid black"><span class="с3" >BIRTH</span></td>
    <td>&nbsp;</td>
    <td class="m3">&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2" rowspan="2" align="left" valign="bottom" class="gener">3. Адрес постоянного &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; места жительства</td>
    <td colspan="4" rowspan="2" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black" ><span class="с3">ADDRESS</span></td>
    <td>&nbsp;</td>
    <td class="m3">&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="m3">&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td colspan="2" align="left" valign="bottom" class="gener">4. Место работы, должность</td>
    <td colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black"><span class="с3">WORK</span></td>
    <td>&nbsp;</td>
    <td class="m3">&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td colspan="2" align="left" valign="bottom" class="gener">5. Код диагноза по МКБ</td>
    <td colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black"><span class="с3">DIAG</span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td align="left" valign="bottom" class="gener">6. Диагноз</td>
    <td colspan="5" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black"><span class="с3">DIAG_CODE</span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="40">&nbsp;</td>
    <td colspan="2" align="left" valign="bottom" class="gener">7. Обоснование направления: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; в счет квоты по ВТПМ</td>
    <td colspan="4" align="center" valign="bottom" bgcolor="#8695FB" class="gener" style="border-bottom: 1px solid black"><span class="с3">OSNOVA</span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td colspan="6" align="left" valign="middle" bgcolor="#8695FB" class="gener">Должность медицинского работника, направившего больного</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="6" align="center" valign="bottom" bgcolor="#8695FB" class="с3" style="border-bottom: 1px solid black">д.м.н. проф. Моисеенко В.М.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td colspan="3" align="left" valign="bottom" class="gener"><span id="p12">Председатель комиссии</span></td>
    <td colspan="3" align="center" valign="bottom" bgcolor="#8695FB" class="с3" style="border-bottom: 1px solid black">д.м.н. Гафтон Г.И.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td height="32">&nbsp;</td>
    <td colspan="3" align="center" valign="bottom" bgcolor="#8695FB" class="с3" style="border-bottom: 1px solid black">DATE </td>
    <td width="107" align="left" valign="bottom">г.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="left" valign="bottom">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-left:  1px dotted black;">&nbsp;</td>
  </tr>
</table>
</body>
</html>
