<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEADERFOOTER />
<html>
<head>
<title>Лист ожидания</title>
<style type="text/css">
<!--
#datetime {

}
#head {
	font-size: medium;
}
#txt
{
font: 12.0pt; 
font-family:   "Times New Roman";	
}

-->
    </style>
</head>
<body id="datetime">
	
<table width="601" border="0" id="datetime">
  <tr>
    <td width="587"><p align="center" id="head" ><strong >ЛИСТ ОЖИДАНИЯ</strong></p>
     </td>
  </tr>
  <tr>
    <td><ol><br> <br><li>№ п/п</li>   
          <p><li id="txt">Название, код субъекта Российской Федерации    Санкт-Петербург</li></p>
        <p><li id="txt">Ф.И.О.  PATIENT</li></p>
       <p><li id="txt">СНИЛС SNILS</li></p>
        <p><li id="txt">Адрес регистрации по месту жительства LIVING</li></p>
       <p><li id="txt">Дата рождения birth</li></p>
       <p> <li id="txt">Диагноз при направлении (МКБ-10):  DIAG. </li>
       <p> <li id="txt">Дата направления DATE</li>
      <p><li id="txt">Наименование медицинского учреждения :</p>
         <p> НИИ Онкологии им. проф. Н.Н.Петрова </p></li>
        <p><li id="txt">Дата консультации DATE</li></p>
       <p><li id="txt">Результат консультации: нуждается в госпитализации</li></p>
        <p><li id="txt">Нуждаемость в госпитализации: проведение комплексного лечения</li></p>
        <p><li id="txt">Срок ожидания _____________________________________________________</li></p>
        <p><li id="txt">Дата госпитализации _______________________________________________</li></p>
        <p><li id="txt">Дата выписки ______________________________________________________</li></p>
        <p><li id="txt">Диагноз при выписке (МКБ-10)_______________________________________</li></p>
        <p><li id="txt">Код оказанной медицинской помощи __________________________________</li></p>
        <p><li id="txt">Причина не состоявшейся госпитализации______________________________</li></p></ol>
   </td>
  </tr>
</table>
</body>
</html>