<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="baza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>


  <connectionStrings>
    <add name="baza.Properties.Settings.ConnectionStringTest" connectionString="Dsn=PostgreSQL35W;uid=post" providerName="System.Data.Odbc"/>
  </connectionStrings>

  <applicationSettings>
    <baza.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </baza.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
